:root {
    --main-background: #2f4050;
    --main-text: #fff;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    background: var(--main-background);
    color: var(--main-text);
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


::view-transition-group(main-logo) {
    animation-duration: 0.5s;
}